/* See various comments to customize! */

/* Fonts: (Feel free to replace these for whatever you want. */
@import url('http://fonts.googleapis.com/css?family=Roboto');

body {
	/* Change this if you use another font. */
	font-family: 'Roboto';

	/* Uncomment to use an image as your background. Uses black background by default. */
	/* background-image: url("Images/background.jpg"); */
	
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	color: white;
}

#name {
	font-weight: 900;
	font-size: 100px;
	margin-top: 10px;
	margin-left: 10px;
}

#time {
	font-weight: 300;
	font-size: 30px;
	margin-left: 10px;
}

#links_container {
	font-weight: 100;
	font-size: 12px;
	margin-top: 20px;
}

ul {
	list-style: none;
}