/* See various comments to customize! */

/* Fonts: (Feel free to replace these for whatever you want. */
@import url('http://fonts.googleapis.com/css?family=Montserrat');

body {
	/* Change this if you use another font. */
	font-family: 'Montserrat';

	/* Uncomment to use an image as your background. Uses black background by default. */
	/* background-image: url("Images/background.jpg"); */
	
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 75px;
}

a {
	color: white;
	text-decoration: none;
}

#name {
	font-weight: 900;
	font-size: 100px;
	margin-top: 10px;
}

#time {
	font-weight: 300;
	font-size: 30px;
}

#links_container {
	font-size: 12px;
	margin-top: 20px;
}

ul {
	text-align: left;
	display: inline;
	margin: 0;
	padding: 0px;
	list-style: none;
	color: black;
}

ul li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 10px 10px;
	background: #fff;
	
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

ul li:hover {
	background: #555;
	color: #fff;
}

ul li ul {
	padding: 0;
	position: absolute;
	top: 38px; 
	left: 0;
	width: 150px;

	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

ul li ul li { 
	background: #555; 
	display: block; 
	color: #fff;
}

ul li ul li:hover { background: #666; }
ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}